*,
*::before,
*::after {
	box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #140523;
	color: #ffffff;
    height: 80px;
	box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
body {
    width: 350px;
	display: flex;
	flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    padding: 0;   
    border: 2px groove #252629;
}
main{
    padding: 10px;;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style:none;
    padding: 0;
}
li{
    display: flex;
    justify-self: flex-start;
}

div{
    display: flex;
    justify-content: center;
}
footer{
    bottom: 0;
    background-color: black;
}
